.app-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}

.select-emoji{
  text-align: center;
  font-size:35px;
}
.select-emoji-container{
  height: 100px;
  margin-bottom: 30px;
}